html {
	font-family: 'Arial';
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 500px;
	min-height: 500px;
	border: solid 2px #333;
	margin: auto;
	padding: 20px 0;
}

h1,
p {
	margin: 20px auto;
}

h1 {
	font-size: 35px;
}

p {
	font-size: 18px;
	text-align: center;
}

b {
	font-size: 30px;
}

.gap {
	width: 100%;
	height: 50px;
}

.code {
	background-color: #222;
	padding: 10px;
	margin: 20px 0;
	font-weight: bold;
	font-family: 'consolas';
	font-size: 16px;
}

.grey {
	color: #969696;
}

.green {
	font-size: 20px;
	color: #4caf50;
}

.light-blue {
	color: #79b7d2;
}
